{% extends "baseTemplate.html" %}
{% load static %}

<!-- Titll setzten  -->
{% block title %}
  content Dummy
{% endblock %}


{% block content %}
<!-- START Content  -->
<div class="container content" style="margin-top: 69px;/* height: auto; */">
    <div class="grid-container">

        <!-- Frist Content Block:  -->
        <!-- AUFGABE -->
        <aside>
          <h3>Tipps</h3>
          <ul>
            <li><a href="https://de.wikipedia.org/wiki/Bubblesort">Wiki</a></li>
            <li><a href="https://www.w3schools.com/js/js_if_else.asp">if else</a></li>
            <li><a href="https://www.w3schools.com/js/js_loop_for.asp">Loops</a></li>
            <li><a href="https://www.w3schools.com/js/js_functions.asp">functions</a></li>
            <li><a href="https://www.w3schools.com/jsref/event_onclick.asp">onclick</a></li>
            <li><a href="https://www.w3schools.com/jsref/event_onclick.asp">getElementById</a></li>
          </ul>
        </aside>
        <section>
            <article>
              <h1>IHK - 1.2</h1>
              <h2>Aufgabe: Bubblesort</h2>
              <img src="{%  static 'img/11_bubblesort/IHK_Task_bubblesort.png' %}" alt="IHK Aufgabe: psudocode" srcset="">
              <br><br>
              <h4>Kontext:</h4>
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Bubble-sort-example-300px.gif/220px-Bubble-sort-example-300px.gif" alt="">
              <br><br>
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Bubblesort_Animation.gif/220px-Bubblesort_Animation.gif" alt="">
              <br><br>
          </article>
        </section>

        <!-- Second Content Block  -->
        <!-- PLANUNG -->
        <aside>
          <h3>Tipps</h3>
          <p>Hier soll entweder ein PAP, Pseudocode oder Struktugramm zur Planung vor der Codierung in JavaScript erstellt werden.</p>
      </aside>
        <section>
            <article><h2>Planung</h2></article>
              <h3>Struktogramme</h3>
              <h4>Simple</h4>
              <img src="{%  static 'img/11_bubblesort/simple.jpg' %}" alt="">
              <h4>u13 Drawing - whiteboard</h4>
              <img src="{%  static 'img/11_bubblesort/u13_drawing.png' %}" alt="" srcset="">
              <h4>Detailed</h4>
              <img src="{%  static 'img/11_bubblesort/detailed.png' %}" alt="">
              <br>
              <h3>Pseudocode</h3>
              <img src="{%  static 'img/11_bubblesort/pseudocode.jpg' %}" alt="">
              <h3>PAP</h3>
        </section>

        <!-- Third Content Block  -->
        <!-- Lösung -->
        <aside>            
          <h3>Tipps</h3>
          <ul>
            <li><a href="">getElementById</a></li>
            <li><a href="">Array</a></li>
          </ul></aside>
        <section>
          <article>
              <h2>Lösung: Lesson1.1 - Bubblesort</h2>
              <input type="number" value="1" id="input">
              <button onclick="pushArray()" >Wert dem Array hinzufügen</button>
              <br>
              <p id="output"></p>
              <br>
              <button onclick="bubblesort()">Array Sortieren</button>
              <p id="outputIncrement"></p>
              <p id="outputArray"></p>
          </article>

        </section>






        
    </div>
</div>
<!-- ENDE Content  -->
{% endblock %}


<script src="{%  static 'js/bubblesort.js' %}">

</script>
