{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <!-- external Stylesheet -->
    <link rel="stylesheet" href="{%  static 'css/updatedStyles.css' %}">

</head>
<body>

<!-- START HEADER  -->
<div class="header">
  <h2>Header</h2>
  <p>Scroll down to see the sticky effect.</p>
</div>

<div class="" id="navbar">
  <div class="topnav" id="myTopnav" >
      <a href="/index.html" class="active">Home</a>

      <div class="dropdown">
        <button class="dropbtn">IHK
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="11_ihk.html">Lesson1.1: Bubblesort</a>
          <a href="12_ihk.html">Lesson1.2: Datenauswertung</a>
          <!-- <a href="12_ihk.html">Lesson1.2: Stringkomprimierung</a>
          <a href="lesson2_3.html">Lesson1.3: Passwort Generator</a>
          <a href="lesson2_4.html">Lesson1.4: getAppointment</a>
          <a href="lesson2_5.html">Lesson1.5: Kino</a> -->
        </div>
      </div> 

      <div class="dropdown">
        <button class="dropbtn">UML
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="lesson3_1.html">Lesson3.1 Recherche</a>
          <a href="lesson3_2.html">Lesson3.2 TagesschauNachbau</a>
          <a href="lesson3_3.html">Lesson3.3 Jquery</a>
        </div>
      </div> 

      <div class="dropdown">
        <button class="dropbtn">Django
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="lesson3_1.html">Lesson4.1 Calculator</a>
        </div>
      </div>


      
      <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
  </div>
</div>
<!-- ENDE Header -->



    {% block content %}

    {% endblock %}





  <!-- START Footer  -->
  <footer>
    <div class="container">Footer</div>
  </footer>
  <!-- END Footer  -->

  <!-- JS -->
  <script>
  // JS: Header
  function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
      x.className += " responsive";
      } else {
      x.className = "topnav";
      }
  }

  // JS: StickyHeader
  window.onscroll = function() {stickyFunction()};

  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;

  function stickyFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
  </script>

</body>
</html>
