{% extends "baseTemplate.html" %}

<!-- Titll setzten  -->
{% block title %}
  content Dummy
{% endblock %}


{% block content %}
<!-- START Content  -->
<div class="container content" style="margin-top: 69px;/* height: auto; */">
    <div class="grid-container">

        <!-- Frist Content Block  -->
        <aside>
            <h3>Tipps</h3>
            <ul>
            <li><a href="">Tipp1</a></li>
            <li><a href="">Tipp2</a></li>
            <li><a href="">Tipp3</a></li>
            </ul>
        </aside>
        <section>
            <article>
                <h2>Tag1 - HTML-Layout</h2>
                <h3>Vorlage:</h3>
                <img src="statics/img/meilenstein_01.png" alt="" srcset="">
                <h3>Eigenes Ergebnis: <a href="/statics/html/base_page_template.html">Base Template</a></h3>
            </article>
        </section>

        <!-- Second Content Block  -->
        <aside>aside</aside>
        <section>
            <article><h2>UML</h2></article>
            <article>article</article>
            <article>article</article>
        </section>

        <!-- Third Content Block  -->
        <aside>aside</aside>
        <section>
            <article><h2>django</h2></article>
            <article>article</article>
            <article>article</article>
            <article>article</article>
        </section>

        <!-- Fourth Content Block  -->
        <aside>aside</aside>
        <section>
            <article>article</article>
            <article>article</article>
            <article>article</article>
            <article>article</article>
            <article>article</article>
        </section>




        
    </div>
</div>
<!-- ENDE Content  -->
{% endblock %}
