{% extends "baseTemplate.html" %}
{% load static %}

<!-- Titll setzten  -->
{% block title %}
  ihk11
{% endblock %}


{% block content %}
  <!-- START Content  -->
  <div class="container content" style="margin-top: 69px;/* height: auto; */">
    <!-- NAV container (Back/Next) -->
    <div class="flex-container">
      <a class="btn btn-secondary" href="/uml11">Back</a>
      <a class="btn btn-primary" href="/uml13">Next</a>
    </div>

    <div class="grid-container">

        <!-- Frist Content Block  -->
        <aside>
          <h3>Tipps</h3>
          <ul>
            <li><a href="https://www.geeksforgeeks.org/unified-modeling-language-uml-introduction/">UML</a></li>
            <li><a href="https://www.geeksforgeeks.org/unified-modeling-language-uml-activity-diagrams/">Aktivitätsdiagramm</a></li>
        </ul>
        </aside>
        <section>
            <article>
                <h2>IHK-Aufgabe</h2>
                <img src="{% static 'img/uml/aktivitaets_IHK_aufgabe.png' %}" alt="">
            </article>
        </section>

        <!-- Second Content Block  -->
        <aside>aside</aside>
        <section>
            <article>
                <h2>PAP, Strukugramm oder Pseudocode</h2>
                <p>Platzieren sie ihren Entwurf hier</p>
                <img src="" alt="" srcset="">
            </article>
        </section>

        <!-- Third Content Block  -->
        <aside>aside</aside>
        <section>
            <article>
                <h2>Vorgehensweise</h2>
                <h3>Makierungen</h3>
                <img src="{% static 'img/uml/aktivitaet_ihk_aufgabe_makierungen.png' %}" alt="">
            </article>

        </section>

        <!-- Fourth Content Block  -->
        <aside>aside</aside>
        <section>
            <article>
                <h2>Lösungen</h2>
                <h3>Teil-1</h3>
                <img src="{% static 'img/uml/aktivitaet_ihk_aufgabe_loesung1.png' %}" alt="">
                <h3>Teil-2</h3>
                <img src="{% static 'img/uml/aktivitaet_ihk_aufgabe_loesung2.png' %}" alt="">
            </article>
        </section>




        
    </div>
  </div>
  <!-- ENDE Content  -->
  {% endblock %}
